<!DOCTYPE html>
<html>
<head>
  <title>FinanceTracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  <!-- Explicitly preload the JavaScript pack -->
  <link rel="preload" href="<%= asset_pack_path 'application.js' %>" as="script">
  
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

  <script>
    document.addEventListener('turbolinks:load', () => {
      console.log('Turbolinks loaded');
      console.log('jQuery version:', $.fn.jquery);
      console.log('Bootstrap version:', $.fn.tooltip.Constructor.VERSION);

      // Initialize Bootstrap dropdowns
      $('.dropdown-toggle').dropdown();
    });
  </script>
</body>
</html>
